[General]
#General Configuration
#The main tag used to identify Auto-Pocket content
Auto-Pocket-Tag = Auto-Pocket
#Tag to be given to articles uploaded via command line
cli_tag = CLI-Upload
#Delete cli uploaded articles older than 1 day
cli_delete_after = 1




[Engadget]
url = http://www.engadget.com/rss.xml
#Delete articles older than 1 day
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
# RSS feed special tag. 
tag = engadget 

[High Scalability]
url = https://highscalability.com/rss/
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
# RSS feed special tag. 
tag = high_scalability 

[Matt Godbolt’s blog]
url = https://xania.org/feed
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Dan Luu]
url = https://danluu.com/atom.xml
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Brendan Gregg's Blog]
url = http://brendangregg.com/blog/rss.xml
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Julia Evans]
url = https://jvns.ca/atom.xml
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Level up software engineering 🚀]
url = https://levelupsoftwareengineering.substack.com/feed
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Ryan Rodemoyer]
url = https://ryanrodemoyer.github.io/feed.xml
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Recent Writing - Mark Story]
url = http://mark-story.com/posts/rss
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Sylvain Kerkour]
url = https://kerkour.com/feed.xml
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Phil Eaton Notes]
url = https://notes.eatonphil.com/rss.xml
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Blog | InterviewReady]
url = https://interviewready.io/feed.xml
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[clipperhouse.com]
url = https://clipperhouse.com/index.xml
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Red-Green-Code]
url = https://www.redgreencode.com/feed/
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[- GoingGo - Ardan Labs on - GoingGo - Ardan Labs]
url = https://www.ardanlabs.com/blog/index.xml
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Applied Go on Applied Go]
url = https://appliedgo.net/index.xml
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Eli Bendersky's website]
url = https://eli.thegreenplace.net/feeds/all.atom.xml
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Ben Hoyt's technical writing]
url = https://benhoyt.com/writings/rss.xml
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Dave Cheney]
url = https://dave.cheney.net/feed
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Coding Horror]
url = http://feeds.feedburner.com/codinghorror
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Joel on Software]
url = https://www.joelonsoftware.com/feed/
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Opensource.com]
url = https://opensource.com/feed
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[All Things Distributed]
url = https://www.allthingsdistributed.com/index.xml
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Lyft Engineering - Medium]
url = https://eng.lyft.com/feed
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Mitchell Hashimoto]
url = https://mitchellh.com/feed.xml
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Thorsten Ball]
url = https://thorstenball.com/atom.xml
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 

[Call Me Fishmeal.]
url = http://blog.wilshipley.com/feeds/posts/default
delete_after = 100 
# Add all articles from the past 100 day
days_to_add = 1
tag = 
